html {
  margin:0;
  width:100%;
  height:100%;
}
body {
  margin:0;
  width:100%;
  height:100%;
}
#imuDisplay, #gpsDisplay {
  position:fixed;
  overflow:scroll;
  left:0;
  width:100%;height:50%;
  font-size:8pt;
  background:#000000;
  color:#303030;
  font-family: monospace;
  border-top:1px solid white;
}

#imuDisplay { top: 0%; color:#0080cc; }
#gpsDisplay { top: 50%; color:#cc8000; }

